/HappyHours.Web/bin
/HappyHours.Web/obj
/HappyHours.Service/bin
/HappyHours.Service/obj
/HappyHours.Models/bin
/HappyHours.Models/obj
/HappyHours.Logic/bin
/HappyHours.Logic/obj
/HappyHours.Dal/bin
/HappyHours.Dal/obj
/HappyHours.App/bin
/HappyHours.App/obj
/HappyHours.WebApi/bin
/HappyHours.WebApi/obj
